# Visual Studio Code
.vscode
launchSettings.json

# Visual Studio 2015
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.ide

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
artifacts/
[Bb]in/
[Oo]bj/

#other
/.dotnet/
dotnet-install.sh*
/.packages/
tools/

#dotnet core
project.lock.json
